---
import { getI18N } from "@/i18n";
import { getLangFromUrl, useTranslatedPath } from "@/i18n/utils";
import { PrivateSnorkeling, SnorkelingAdventure, Check } from "@/icons/allIcons";
import { Turtle } from "@public/img/allImages";
import TagH2 from "@/components/global/TagH2.astro";
import BtnLinkCustom from "@/components/extras/BtnLinkCustom";
import BannerVideo from "./BannerVideo.astro";
import TagP from "../global/TagP.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

const plans = [
    {
        title: i18n.HOME_PAGE.CHOOSE_PLAN.PLANS.SHARED.TITLE,
        description: i18n.HOME_PAGE.CHOOSE_PLAN.PLANS.SHARED.DESCRIPTION,
        price: 59,
        features: i18n.HOME_PAGE.CHOOSE_PLAN.PLANS.SHARED.FEATURES,
        icon: SnorkelingAdventure,
        href: translatePath("/snorkel-adventuring-details/"),
    },
    {
        priority: true,
        title: i18n.HOME_PAGE.CHOOSE_PLAN.PLANS.PRIVATE.TITLE,
        description: i18n.HOME_PAGE.CHOOSE_PLAN.PLANS.PRIVATE.DESCRIPTION,
        price: 115,
        features: i18n.HOME_PAGE.CHOOSE_PLAN.PLANS.PRIVATE.FEATURES,
        icon: PrivateSnorkeling,
        href: translatePath("/private-snorkeling-in-puerto-morelos/"),
    },
];
---

<section class="relative pb-20">
    <div class="absolute inset-0 w-full h-full bg-linear-to-br from-sky-700 via-cyan-400 to-cyan-600 z-5 mask-radial-[110%_85%] md:mask-radial-[100%_75%] mask-radial-from-100% mask-radial-at-top"></div>
    <img
        src={Turtle.src}
        alt={i18n.ACCESSIBILITY.IMAGES.TURTLE}
        class="absolute z-11 -top-14 md:-top-28 -left-10 md:-left-20 w-40 sm:w-60 lg:w-80 rotate-[12deg]"
    />
    <BannerVideo />
    <div class="relative z-11 h-full flex flex-col justify-center items-center text-center pt-14 md:pt-20 px-5">
        <TagH2 class="text-white max-w-2xl mx-auto">
            {i18n.HOME_PAGE.BEST_SNORKEL.TITLE}
        </TagH2>
        <TagP class="text-white max-w-3xl" set:html={i18n.HOME_PAGE.BEST_SNORKEL.DESCRIPTION} />
    </div>
    <div class="max-w-4xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-8 px-5 relative z-11">
        {
            plans.map((plan) => (
                <div class={`${plan.priority ? "border-cyan-500 shadow-lg shadow-cyan-400 bg-linear-to-br from-zinc-400 via-zinc-100 to-zinc-400" : "bg-white border-zinc-200 shadow-lg"} hover:scale-105 transition duration-300 md:mt-10 border rounded-xl px-6 py-10`}>
                    <plan.icon class="size-22" />
                    <h3 class="mt-4 font-semibold text-xl lg:text-2xl">
                        {plan.title}
                    </h3>
                    <p class="mt-4 text-sm/loose">{plan.description}</p>
                    <h4 class="text-4xl font-semibold mt-4">
                        ${plan.price}
                        <span class={`text-base md:text-xl`}>USD</span>
                    </h4>
                    <hr
                        class={`my-8 ${plan.priority ? "border-white" : "border-zinc-300"}`}
                    />
                    <ul class="space-y-2 mt-4">
                        {plan.features.map((item) => (
                            <li>
                                <p class="text-sm lg:text-base">
                                    <Check class="text-cyan-500 size-5 inline-block mr-1" />
                                    {item}
                                </p>
                            </li>
                        ))}
                    </ul>
                    <div class="mt-8">
                        <BtnLinkCustom
                            client:visible
                            text={
                                i18n.PUERTO_MORELOS_PAGE.CTA_SECTION.BUTTON
                            }
                            url={plan.href}
                            color="primary"
                        />
                    </div>
                </div>
            ))
        }
    </div>
</section>