---
import { getI18N } from "@/i18n";
import { BgCorales } from "@public/img/allImages";
import BlockContainer from "@/components/global/BlockContainer.astro";
import TagH2 from "@/components/global/TagH2.astro";
import TagH3 from "@/components/global/TagH3.astro";
import TagP from "@/components/global/TagP.astro";
import Faqs from "@/components/extras/Faqs";
import BtnLinkCustom from "@/components/extras/BtnLinkCustom";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<BlockContainer>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10 lg:gap-20">
        <div class="lg:col-span-2">
            <TagH2>{i18n.HOME_PAGE.FAQS.TITLE}</TagH2>
            <TagP>{i18n.HOME_PAGE.FAQS.DESCRIPTION}</TagP>
            <Faqs client:visible faqs={i18n.HOME_PAGE.FAQS.FAQS} />
        </div>
        <div class="lg:col-span-1">
            <div
                class="relative min-h-[30rem] max-h-[40rem] h-full w-full flex flex-col justify-end"
            >
                <img
                    src={BgCorales.src}
                    alt={i18n.ACCESSIBILITY.IMAGES.INTRO_HOME.CORALS}
                    class="absolute inset-0 z-10 w-full h-full object-cover rounded-xl"
                />
                <div class="bg-white rounded-xl p-5 relative z-20 mb-5 mx-5">
                    <TagH3 class="text-center">
                        {i18n.HOME_PAGE.FAQS.CARD_CONTACT.TITLE}
                    </TagH3>
                    <TagP>
                        {i18n.HOME_PAGE.FAQS.CARD_CONTACT.DESCRIPTION}
                    </TagP>
                    <div class="text-center">
                        <BtnLinkCustom
                            client:visible
                            text={i18n.HOME_PAGE.FAQS.CARD_CONTACT.BUTTON}
                            url="tel:+529982490003"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</BlockContainer>
