---
import BlockContainer from "@/components/global/BlockContainer.astro";
import { FaroInclinado } from "@public/img/allImages"
import TagH3 from "@/components/global/TagH3.astro";
import TagP from "@/components/global/TagP.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<BlockContainer>
    <div class="grid grid-cols-1 lg:grid-cols-9 lg:grid-rows-2 gap-5">
        <div class="bg-sky-100 rounded-lg lg:col-span-5 relative">
            <img src={FaroInclinado.src} alt={i18n.ACCESSIBILITY.IMAGES.FARO_INCLINADO} class="absolute top-0 right-0 w-fit h-full object-cover rounded-lg" />
            <div class="p-10 z-10 relative">
                <TagH3>{i18n.PUERTO_MORELOS_PAGE.WHERE_IS_PUERTO_MORELOS.TITLE}</TagH3>
                <TagP set:html={i18n.PUERTO_MORELOS_PAGE.WHERE_IS_PUERTO_MORELOS.DESCRIPTION} />
            </div>
        </div>
        <div class="bg-sky-100 rounded-lg lg:col-span-4">
            <div class="p-10">
                <TagH3>{i18n.PUERTO_MORELOS_PAGE.HOW_FAR_PUERTO_MORELOS.TITLE}</TagH3>
                <TagP set:html={i18n.PUERTO_MORELOS_PAGE.HOW_FAR_PUERTO_MORELOS.DESCRIPTION} />
            </div>
        </div>
        <div class="bg-sky-100 rounded-lg lg:col-span-3">
            <div class="p-10">
                <TagH3>{i18n.PUERTO_MORELOS_PAGE.WEATHER_IN_PUERTO_MORELOS.TITLE}</TagH3>
                <TagP set:html={i18n.PUERTO_MORELOS_PAGE.WEATHER_IN_PUERTO_MORELOS.DESCRIPTION} />
            </div>
        </div>
        <div class="bg-sky-100 rounded-lg lg:col-span-3">
            <div class="p-10">
                <TagH3>{i18n.PUERTO_MORELOS_PAGE.WHERE_STAY_PUERTO_MORELOS.TITLE}</TagH3>
                <TagP set:html={i18n.PUERTO_MORELOS_PAGE.WHERE_STAY_PUERTO_MORELOS.DESCRIPTION} />
            </div>
        </div>
        <div class="bg-sky-100 rounded-lg lg:col-span-3">
            <div class="p-10">
                <TagH3>{i18n.PUERTO_MORELOS_PAGE.DOWNTOWN_PUERTO_MORELOS.TITLE}</TagH3>
                <TagP set:html={i18n.PUERTO_MORELOS_PAGE.DOWNTOWN_PUERTO_MORELOS.DESCRIPTION} />
            </div>
        </div>
    </div>
</BlockContainer>
