---
import { getI18N } from "@/i18n";
import { SeaweedBlue } from "@public/img/allImages";
import { Coral, Fish, ScubaMask } from "@/icons/allIcons";
import BlockContainer from "@/components/global/BlockContainer.astro";
import TagH2 from "@/components/global/TagH2.astro";
import TagP from "@/components/global/TagP.astro";
import TagH3 from "@/components/global/TagH3.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const highlights = [
    {
        title: i18n.MAYAN_REEF_PAGE.HIGHLIGHTS_MAYAN_REEF.LIST[0].TITLE,
        description: i18n.MAYAN_REEF_PAGE.HIGHLIGHTS_MAYAN_REEF.LIST[0].DESCRIPTION,
        icon: Coral,
    },
    {
        title: i18n.MAYAN_REEF_PAGE.HIGHLIGHTS_MAYAN_REEF.LIST[1].TITLE,
        description: i18n.MAYAN_REEF_PAGE.HIGHLIGHTS_MAYAN_REEF.LIST[1].DESCRIPTION,
        icon: ScubaMask,
    },
    {
        title: i18n.MAYAN_REEF_PAGE.HIGHLIGHTS_MAYAN_REEF.LIST[2].TITLE,
        description: i18n.MAYAN_REEF_PAGE.HIGHLIGHTS_MAYAN_REEF.LIST[2].DESCRIPTION,
        icon: Fish,
    },
]
---

<div class="relative overflow-hidden">
    <BlockContainer>
        <div class="text-center md:max-w-xl lg:max-w-3xl xl:max-w-4xl mx-auto">
            <TagH2>{i18n.MAYAN_REEF_PAGE.INTRO.TITLE}</TagH2>
            <TagP set:html={i18n.MAYAN_REEF_PAGE.INTRO.DESCRIPTION} />
            <div class="grid grid-cols-1 lg:grid-cols-3 place-items-center gap-4">
                {highlights.map((item) => (
                    <div class="p-4 rounded-xl shadow border border-zinc-200 flex flex-col items-center gap-2">
                        <div class="p-5 grid place-items-center bg-cyan-100 rounded-full mt-4">
                            <item.icon class="size-10 text-cyan-600" />
                        </div>
                        <div>
                            <TagH3>{item.title}</TagH3>
                            <TagP>{item.description}</TagP>
                        </div>
                    </div>
                ))}
            </div>
        </div>
    </BlockContainer>
    <img src={SeaweedBlue.src} alt={i18n.ACCESSIBILITY.IMAGES.SEAWEED} class="absolute top-0 -left-10 md:-left-20 w-40 sm:w-60 lg:w-80 rotate-[130deg]" />
    <img src={SeaweedBlue.src} alt={i18n.ACCESSIBILITY.IMAGES.SEAWEED} class="absolute bottom-0 -right-10 md:-right-20 w-40 sm:w-60 lg:w-80 -rotate-[130deg]" />
</div>