---
import { SeaweedBlue, HandLikeSnorkel, BgCorales, BgFishes } from "@public/img/allImages";
import BlockContainer from "@/components/global/BlockContainer.astro";
import TagH1 from "@/components/global/TagH1.astro";
import TagP from "@/components/global/TagP.astro";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<div class="relative overflow-hidden">
    <BlockContainer>
        <div class="text-center md:max-w-xl lg:max-w-3xl xl:max-w-4xl mx-auto">
            <TagH1>{i18n.HOME_PAGE.INTRO.TITLE}</TagH1>
            <TagP set:html={i18n.HOME_PAGE.INTRO.DESCRIPTION} />
            <div class="w-full my-20">
                <div class="h-52 md:h-[30rem] relative">
                    <div class="w-2/5 h-full z-10 absolute top-1/2 md:top-3/5 -translate-y-1/2 -left-2 md:-left-10 -rotate-[12deg] scale-75">
                        <img
                            src={BgFishes.src}
                            alt={i18n.ACCESSIBILITY.IMAGES.INTRO_HOME.FISHES}
                            class="w-full h-full object-cover rounded-lg shadow hover:scale-95 transition-all"
                        />
                    </div>
                    <div class="w-1/2 h-full z-20 absolute top-0 left-1/2 -translate-x-1/2">
                        <img
                            src={HandLikeSnorkel.src}
                            alt={i18n.ACCESSIBILITY.IMAGES.INTRO_HOME.HAND_LIKE_SNORKEL}
                            class="w-full h-full object-cover rounded-lg shadow hover:scale-95 transition-all"
                        />
                    </div>
                    <div class="w-2/5 h-full z-10 absolute -bottom-4 md:-bottom-32 -right-2 md:-right-10 rotate-[12deg] scale-75">
                        <img
                            src={BgCorales.src}
                            alt={i18n.ACCESSIBILITY.IMAGES.INTRO_HOME.CORALS}
                            class="w-full h-full object-cover rounded-lg shadow hover:scale-95 transition-all"
                        />
                    </div>
                </div>
            </div>
        </div>
    </BlockContainer>
    <img src={SeaweedBlue.src} alt={i18n.ACCESSIBILITY.IMAGES.SEAWEED} class="absolute top-0 -left-10 md:-left-20 w-40 sm:w-60 lg:w-80 rotate-[130deg]" />
    <img src={SeaweedBlue.src} alt={i18n.ACCESSIBILITY.IMAGES.SEAWEED} class="absolute bottom-0 -right-10 md:-right-20 w-40 sm:w-60 lg:w-80 -rotate-[130deg]" />
</div>