---
import { getI18N } from "@/i18n";
import { SeaweedBlue } from "@public/img/allImages";
import {
    TripadvisorBOTB,
    NatGeoTraveller,
    WorldTravelAwards,
} from "@/icons/allIcons";
import BlockContainer from "@/components/global/BlockContainer.astro";
import TagH1 from "@/components/global/TagH1.astro";
import TagP from "@/components/global/TagP.astro";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const awardsSnorkeling = [
    {
        title: i18n.HOME_PAGE.AWARDS.TRIPADVISOR.TITLE,
        description: i18n.HOME_PAGE.AWARDS.TRIPADVISOR.DESCRIPTION,
        icon: TripadvisorBOTB,
    },
    {
        title: i18n.HOME_PAGE.AWARDS.NATIONAL_GEOGRAPHIC.TITLE,
        description: i18n.HOME_PAGE.AWARDS.NATIONAL_GEOGRAPHIC.DESCRIPTION,
        icon: NatGeoTraveller,
    },
    {
        title: i18n.HOME_PAGE.AWARDS.WORLD_TRAVEL_AWARDS.TITLE,
        description: i18n.HOME_PAGE.AWARDS.WORLD_TRAVEL_AWARDS.DESCRIPTION,
        icon: WorldTravelAwards,
    },
];
---

<div class="relative overflow-hidden">
    <BlockContainer class="relative z-10">
        <div class="text-center md:max-w-xl lg:max-w-3xl xl:max-w-4xl mx-auto">
            <TagH1>{i18n.HOME_PAGE.INTRO.TITLE}</TagH1>
            <TagP set:html={i18n.HOME_PAGE.INTRO.DESCRIPTION} />
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-10">
            {awardsSnorkeling.map((item) =>(
            <div class="shadow border border-zinc-100 bg-white rounded-lg p-4 flex items-center">
                <item.icon class="w-70" />
                <div class="ml-4">
                    <h3 class="font-semibold text-lg mb-2">
                        {item.title}
                    </h3>
                    <p class="text-sm/loose text-justify">
                        {item.description}
                    </p>
                </div>
            </div>
            ))}
        </div>
    </BlockContainer>
    <img
        src={SeaweedBlue.src}
        alt={i18n.ACCESSIBILITY.IMAGES.SEAWEED}
        class="absolute -top-10 md:top-0 -left-10 md:-left-20 w-40 sm:w-60 lg:w-80 rotate-[130deg]"
    />
    <img
        src={SeaweedBlue.src}
        alt={i18n.ACCESSIBILITY.IMAGES.SEAWEED}
        class="absolute bottom-0 -right-10 md:-right-20 w-40 sm:w-60 lg:w-80 -rotate-[130deg]"
    />
</div>
