---
import "@/styles/global.css";
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

interface Props {
    title?: string;
    metaTitle?: string;
    description?: string;
    metaDescription?: string;
    keywords?: string;
    image?: string;
    metaType?: string;
    robots?: string;
}

const namePage = "The Original Snorkeling Adventure";
const title = Astro.props.title || i18n.SEO.HOME_PAGE.TITLE;
const description = Astro.props.description || i18n.SEO.HOME_PAGE.DESCRIPTION;
const metaTitle = Astro.props.metaTitle || title;
const metaDescription = Astro.props.metaDescription || description;
const keywords = Astro.props.keywords || "";
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const image = new URL(Astro.props.image || "/assets/favicons/favicon-96x96.png", Astro.site);
const metaType = Astro.props.metaType || "website";
const robots = Astro.props.robots || "index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1";
const ogLocale = currentLocale === "en" ? "en_US" : "es_ES";
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<meta name="author" content={namePage}>
<!-- Favicon -->
<link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg" />
<link rel="shortcut icon" href="/assets/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="Snorkeling Adventure" />
<link rel="manifest" href="/assets/favicons/site.webmanifest" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="referrer" content="strict-origin-when-cross-origin" />
<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />
<link rel="canonical" href={canonicalURL} />
<meta name="robots" content={robots} />
<!-- Generator Astro -->
<meta name="generator" content={Astro.generator} />
<!-- Open Graph / Facebook -->
<meta property="og:locale" content={ogLocale} />
<meta property="og:type" content={metaType} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={metaTitle} />
<meta property="og:description" content={metaDescription} />
<meta property="og:image" content={image} />
<meta property="og:image:alt" content={metaTitle} />
<meta property="og:site_name" content={namePage} />
<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={canonicalURL} />
<meta name="twitter:title" content={metaTitle} />
<meta name="twitter:description" content={metaDescription} />
<meta name="twitter:image" content={image} />
<meta name="twitter:image:alt" content={metaTitle} />
<!-- Preload Fonts -->
<link rel="preload" href="/fonts/Poppins-Light.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/Poppins-SemiBold.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/Poppins-ExtraBold.ttf" as="font" type="font/ttf" crossorigin />
<!-- Sitemap -->
<link rel="sitemap" href="/sitemap-index.xml" />